<h1 class="page-header">Raise Effect</h1>
<p class="lead">The Oregon minimum wage is currently <a href="#">$9.25</a>. Is that enough? We’ve looked at different types of families in the state of Oregon to see if the current minimum wage supports <a href="#">self-sufficiency</a>.</p>
<div id="slider"></div>
<div id="sliderTooltip"></div>
<div id="map"></div>
