svg.nvd3 text {
  color: red
}

.dotted-divider {
  position:absolute;
  border-left:3px dotted black;
  left:50%;
  min-height:100%;
  z-index:999;
}

.horizontal  {
  height: 45px;
  width: 100%;
  padding: 12px 0;
}

.horizontal .progress-track {
  position: relative;
  width: 100%;
  height: 20px;
  background: $grey2;
}

.horizontal .progress-fill {
  position: relative;
  height: 20px;
  width: 50%;
  color: $text-color;
  text-align: center;
  font-family: "Lato","Verdana",sans-serif;
  font-size: 12px;
  line-height: 20px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  transition: all .6s ease;
}

.rounded .progress-track,
.rounded .progress-fill {
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
