.households-table th {
    text-align: center;
    padding: 0 1em;
}

.households-table td {
    padding: 0 0.5em;
}

.data-deep-dive-img {
    margin: 1em 0;
}

.data-deep-dive-pie-chart {
    max-width: 50%;
}
