.slider-container {
    width: 70%;
    margin: 40px auto;
    .slider {
        margin-bottom: 2em;
    }
}

.rc-slider {
    height: 8px;
    background-color: $grey2;
    vertical-align: middle;
}

.rc-slider-tooltip-inner {
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: none;
    vertical-align: middle;
    &:before {
        content: '$ '
    }
}
.rc-slider-track {
    background-color: $teal3;
    height: 8px;
}

.rc-slider-handle {
    border-color: $teal3;
    background-color: $teal3;
    width: 20px;
    height: 20px;
}

.rc-slider-handle:hover {
    border-color: #25b29e;
}
.rc-slider-tooltip-placement-points-bc-tc .rc-slider-tooltip-arrow {
    border-top-color: #000;
}

.panel-body {
    background-color: $background-color;
}

.hour, .day, .week, .month, .year{
    font-weight: bold;
    font-size: 1.2em;
}
