#slider {
    width: 80%;
    margin: 40px auto;
    .slider {
        margin-bottom: 2em;
    }
}

.rc-slider-tooltip-inner {
    width: auto;
    height: auto;
    padding: 6px;
    font-size: 11px;
    background-color: #000;
    border-radius: 2px;
    box-shadow: none;
    vertical-align: middle;
    &:before {
        content: '$'
    }
}
.rc-slider-track {
  background-color:#7cd1c5;
}

.rc-slider-handle {
    border-color: #7cd1c5;
}

.rc-slider-handle:hover {
    border-color: #25b29e;
}
.rc-slider-tooltip-placement-points-bc-tc .rc-slider-tooltip-arrow {
    border-top-color: #000;
}
