.team {
  h1 {
    margin-bottom: 1em;
  }
}

.member {
  text-align: center;
  margin-bottom: 1em;
  img.member {
    margin: 0 auto;
    border-radius: 50%;
    max-width: 80%;
  }
  h2 {
    text-align: center;
    margin-bottom: .5em;
  }
  h3 {
    margin-top: 0;
  }
}
